.image {
  height: 40vh;
  background-color: grey;
}
.details {
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
}

.details > div {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.map {
  height: 70%;
  width: 70%;
  background-color: rgb(247, 129, 129);
}
