.main-container {
  width: 100vw;
  min-height: 100vh;
  overflow-y: scroll;
}

.image {
  height: 40vh;
  background-color: var(--light-blue);
}

.details {
  display: flex;
  flex-wrap: wrap;
  height: 60vh;
}

.details > div {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map {
  padding: 60px;
  height: 100%;
  min-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
