.authorization-layout {
  display: flex;

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-green);
    height: 100vh;
    flex: 1;
  }

  &__content {
    flex: 1;
  }

  &__logos {
    display: flex;
    justify-content: center;
    gap: var(--spacing-l);
  }

  &__divider {
    border-right: 1px solid var(--black);
  }
}
