.search-places__wrapper {
  position: absolute;
  top: 30px;
  height: 150px;
  left: var(--search-places-margin);
  max-width: calc(100% - var(--search-places-margin) * 2);
  width: 100%;
  border-radius: var(--input-border-radius);
  padding: var(--spacing-m) var(--spacing-xl);
  background-color: var(--white);
  z-index: 500;
  display: flex;
  flex-direction: row;

  .search-places-fields__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .search-places-field__wrapper {
    display: flex;
    margin-bottom: 8px;

    &:nth-of-type(1) {
      .search-places__input::before {
        background-color: var(--light-green);
      }
    }

    &:nth-of-type(2) {
      .search-places__input::before {
        background-color: var(--green);
      }
    }

    .search-places__input {
      border: none;
      display: flex;
      width: 100%;
      gap: var(--spacing-s);
      align-items: center;

      div:nth-of-type(1) {
        flex-grow: 1;
      }

      &::before {
        content: ' ';
        display: flex;
        width: 15px;
        height: 15px;
        border-radius: 50px;
        background-color: blue;
        margin-right: 15px;
      }
    }
    .search-places__input:hover {
      cursor: pointer;
    }
  }

  .search-places-swap {
    border-color: var(--black);
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    margin: auto;
    margin-left: 32px;
    transition: all 0.2s ease-in;
  }
  .search-places-swap:hover {
    cursor: pointer;
    background-color: var(--button-background__primary);
    color: var(--white);
  }
}
