.objects-overview-heading {
  padding: var(--spacing-l);
  display: flex;
  gap: var(--spacing-l);
  flex-direction: column;
  position: fixed;
  background-color: var(--white);
  width: calc(100% - 415px);
}

.objects-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-l);
  padding-top: 120px;
}
