.ranking-container {
  display: flex;
  flex-direction: column;
  width: 420px;

  &.ranking-container-extended {
    width: 600px;
  }

  .user {
    display: flex;
    width: 100%;
    min-height: 45px;
    align-items: center;
    padding-left: var(--spacing-s);

    .user-position {
      width: 5%;
      font-weight: bold;
    }

    .user-name {
      width: 95%;
      justify-content: center;
      display: flex;
    }
  }

  .user-ranking {
    font-size: var(--menu-font-size);
    font-weight: bold;
    color: #000;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 var(--spacing-s);
  }
}
