.button {
  background-color: var(--button-background__secondary);
  border: var(--button-border__secondary);
  min-width: var(--button-medium-min-width);
  height: var(--button-medium-min-height);
  font-size: var(--button-medium-font-size);
  border-radius: var(--button-border-radius);
  color: var(--dark-green);
  cursor: pointer;
  transition: all 0.2s ease-in;

  &.primary {
    background-color: var(--button-background__primary);
    border: var(--button-border__primary);
    color: var(--button-color-font__primary);

    &:hover {
      background-color: var(--button-background__primary--hover);
    }
  }

  &:hover {
    background-color: var(--button-background__primary);
  }

  &.button-sm {
    min-width: var(--button-small-min-width);
    height: var(--button-small-min-height);
    font-size: var(--button-small-font-size);
  }

  &.button-lg {
    min-width: var(--button-large-min-width);
    height: var(--button-large-min-height);
    font-size: var(--button-large-font-size);
  }
}
