.profile-page__content {
  display: flex;
  padding: 20px 30px;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: var(--spacing-l);

  .profile-page__header {
    text-align: center;
    font-size: 40px;
    margin: 10px 0;
  }

  .profile-page__image {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    background-color: #d9d9d9;
  }
}

@media screen and (min-width: 1024px) {
  .profile-page__content {
    padding: 20px 40px;
    align-items: start;
    .profile-page__image {
      width: 25vw;
      height: 25vw;
    }
  }
}
@media screen and (min-width: 1200px) {
  .profile-page__content {
    align-items: start;
  }
}
