.input-container {
  border-radius: var(--input-border-radius);
  padding: var(--spacing-m) var(--spacing-l);
  font-size: var(--main-font-size);
  border: 1px solid var(--dark-green);

  &::placeholder {
    color: var(--dark-green);
    transition: opacity 0.2s ease-in-out;
  }

  &:focus {
    outline: none;
    border-color: var(--green);
  }

  &:focus::placeholder {
    opacity: 0;
  }
}
