.sidebar {
  $parent: &;
  height: 100vh;
  width: 100%;
  background-color: var(--dark-green);
  color: var(--white);
  max-width: 181px;
  padding: 2.5625rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4rem;

  button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    &__language-picker {
      display: none;
      input,
      label {
        cursor: pointer;

        &.active {
          font-weight: 600;
          text-decoration: underline;
        }
      }
    }

    &__app-identity {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;

      &__heading {
        display: none;
      }
      &__image {
        width: 6.25rem;
        height: 6.25rem;

        img {
          width: 100%;
        }
      }
    }

    &__links {
      display: flex;
      flex-direction: column;
      gap: 1.125rem;

      &__item {
        color: #fff;
        fill: #fff;
        font-size: var(--menu-font-size);
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 0.75rem;

        &__text {
          display: none;
          text-decoration: none;

          &.active {
            text-decoration: underline;
            font-weight: 600;
          }
        }
      }
    }

    &__logout {
      font-size: var(--menu-font-size);
      font-weight: 700;
      color: #fff;
      display: flex;
      align-items: center;
      gap: 0.75rem;

      &__text {
        display: none;
      }
    }
  }

  &--open {
    max-width: 400px;

    #{$parent} {
      &__container {
        &__language-picker {
          display: flex;
          align-self: flex-end;

          input {
            position: fixed;
            opacity: 0;
            pointer-events: none;
            font-size: 1rem;
            line-height: 1.5rem;
            font-weight: 400;
          }
        }

        &__app-identity {
          &__heading {
            display: initial;
            font-size: var(--header-font-size);
            line-height: 3.75rem;
          }
          &__image {
            width: 10rem;
            height: 10rem;
          }
        }

        &__links__item__text {
          display: initial;
        }

        &__logout__text {
          display: initial;
        }
      }

      &__toggle {
        align-self: flex-end;
      }
    }
  }
}

//todo discuss breakpoint
@media screen and (max-width: 768px) {
  .sidebar {
    $parent: &;
    display: none;
    padding: 1.5rem;

    &--open {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: 1001;
      max-width: 100vw;

      #{$parent} {
        &__container {
          align-items: flex-start;
          padding-top: 2rem;

          &__language-picker {
            order: 2;
            align-self: flex-start;
          }

          &__app-identity {
            display: none;
          }

          &__links__item {
            font-size: var(--menu-font-size-sm);
          }

          &__logout__text {
            font-size: var(--menu-font-size-sm);
            font-weight: 600;
          }
        }

        &__toggle {
          display: none;
        }
      }
    }
  }
}
