@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --green: rgb(110, 200, 80);
  --light-green: rgb(200, 240, 180);
  --yellow: rgb(240, 220, 140);
  --light-blue: rgb(190, 220, 240);
  --white: rgb(255, 255, 255);
  --dark-green: rgb(0, 50, 40);
  --dark-green-2: rgb(23, 91, 74);
  --red: rgb(240, 30, 50);
  --purple: rgb(100, 0, 70);
  --blue: rgb(80, 120, 150);
  --black: rgb(0, 0, 0);

  --input-border-radius: 8px;
  --input-border-width: 2px;
  --button-border-radius: 8px;
  --section-border-radius: 15px;

  --main-font: 'Inter', sans-serif;
  --font-color: rgb(0, 0, 0);
  --header-font-size: 40px;
  --menu-font-size: 32px;
  --main-font-size: 16px;
  --forms-label-font-size: 15px;
  --normal-font-weight: 400;
  --bold-font-weight: 700;

  --button-small-min-width: 110px;
  --button-medium-min-width: 130px;
  --button-large-min-width: 150px;

  --button-small-min-height: 35px;
  --button-medium-min-height: 40px;
  --button-large-min-height: 45px;

  --button-small-font-size: 14px;
  --button-medium-font-size: 16px;
  --button-large-font-size: 18px;

  --button-border__primary: 1px solid var(--dark-green);
  --button-background__primary: var(--dark-green);
  --button-background__primary--hover: var(--dark-green-2);
  --button-color-font__primary: var(--white);

  --button-border__secondary: 1px solid var(--dark-green);
  --button-background__secondary: var(--white);
  --button-color-font__secondary: var(--dark-green);

  //  spacing
  --spacing-xs: 5px;
  --spacing-s: 10px;
  --spacing-m: 20px;
  --spacing-l: 30px;
  --spacing-xl: 40px;
}
