@import 'css-variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
}

.container {
  display: flex;
  overflow: hidden;
}

.input-error {
  display: block;
  font-size: var(--small-font-size);
  color: var(--red);
  margin: var(--spacing-xs) 0 var(--spacing-s);
}
