.modal-overlay {
  position: absolute;
  top: 15%;
  padding: var(--spacing-l);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.modal-content {
  background: white;
  border-radius: 8px;
  width: 100%;
  text-align: center;
  border: 1px solid grey;
  overflow: hidden;
}

.history-item {
  width: 100%;
  padding: 2.5% 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.history-item:nth-child(odd) {
  background: var(--light-gray);
}

.history-item-data {
  display: flex;
  width: 80%;
}

.history-item-data img {
  width: 7vw;
  height: 7vw;
  margin-right: 10px;
  background: #d9d9d9;
}

.history-item svg {
  cursor: pointer;
}
