.modal-overlay {
  position: absolute;
  top: 15%;
  padding: var(--spacing-l);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.modal-content {
  background: var(--white);
  border-radius: 8px;
  width: 100%;
  text-align: center;
  border: 1px solid var(--gray);
  overflow: hidden;
}

.history-item {
  width: 100%;
  padding: var(--spacing-m);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.history-item:nth-child(odd) {
  background: var(--light-gray);
}

.history-item-data {
  display: flex;
  width: 80%;
}

.history-item-data img {
  width: var(--object-wrapper-image-size);
  height: var(--object-wrapper-image-size);
  margin-right: 10px;
  background: #d9d9d9;
}

.history-item-image-placeholder {
  height: var(--object-wrapper-image-size);
  min-width: var(--object-wrapper-image-size);
  background-color: #235d31;
  border-radius: var(--input-border-radius);
}

.history-item svg {
  cursor: pointer;
}

.history-item-info {
  padding: var(--spacing-s) var(--spacing-m);
}
